<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<div th:replace="fragments :: title"></div>
<h2 th:text="${gasAmount}">Gas Amount</h2>
<div class="d-flex">
    <form style="max-width:400px" method="post" class="border-class">
        <div class="form-group">
            <label>Update Gas: </label>
            <input type="text" name="updateAmountString" class="form-control"/>
        </div>
        <input type="submit" name="update" value="Update"/>
    </form>
</div>

</body>
</html>