<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<div class="col-md-6">
<table class="table" style="max-width:400px">
    <tr>
        <th>Utility</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>Rent</td>
        <td th:text="${rent}">Rent</td>
        <td><a th:href="@{'/budget/' + ${year} + '/' + ${month} + '/' + rent}">Update</a> </td>
    </tr>
    <tr>
        <td>Electric</td>
        <td th:text="${electric}">Electric</td>
        <td><a th:href="@{'/budget/' + ${year} + '/' + ${month} + '/' + electric}">Update</a> </td>
    </tr>
    <tr>
        <td>Gas</td>
        <td th:text="${gas}">Gas</td>
        <td><a th:href="@{'/budget/' + ${year} + '/' + ${month} + '/' + gas}">Update</a> </td>
    </tr>
    <tr>
        <td>Internet</td>
        <td th:text="${internet}">Internet</td>
        <td><a th:href="@{'/budget/' + ${year} + '/' + ${month} + '/' + internet}">Update</a> </td>
    </tr>
    <!--<tr>-->
        <!--<td>Water</td>-->
        <!--<td th:text="${water}">Water</td>-->
        <!--<td><a href="/budget/water">Update</a> </td>-->
    <!--</tr>-->
    <tr>
        <td>Etc.</td>
        <td th:text="${etc}">Etc</td>
        <td><a th:href="@{'/budget/' + ${year} + '/' + ${month} + '/' + etc}">Update</a> </td>
    </tr>
    <tr>
        <td>Total</td>
        <td th:text="${total}">Total</td>
    </tr>
    <tr>
        <td>Per Person</td>
        <td th:text="${perPerson}">Per Person</td>
    </tr>
    <tr>
        <td>Paid</td>
        <td th:text="${paymentAmount}">Payment Amount</td>
    </tr>
</table>

<nav>
    <a th:href="@{'/budget/' + ${prevYear} + '/' + ${prevMonth}}"> Previous Month</a> |
    <a th:href="@{'/budget/' + ${currentYear} + '/' + ${currentMonth}}">Current Month</a> |
    <a th:href="@{'/budget/' + ${nextYear} + '/' + ${nextMonth}}">Next Month </a>
</nav>
</div>
<div class="col-md-6">
    <div class="pull-center"><h2 th:text="${owed}" class="pull-center"></h2></div>
<div class="d-flex">
    <form method="post" style="max-width:600px" class="border-class">
        <h3 class="loginHeader">Make a Payment</h3>
        <div class="form-group">
            <label th:for="paymentAmount">Payment Amount: </label>
            <input type="text" name="paymentAmount"/>
        </div>
        <input type="submit" name="payment" value="Pay"/>
    </form>
</div>
</div>

</body>
</html>