<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>

<table class="table" style="max-width:600px">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Frequency</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}">Name</td>
        <td th:text="${task.description}">Description</td>
        <td th:text="${task.frequency} + ' times per week'">Frequency</td>
    </tr>
</table>
<div class="d-flex">
<form style="max-width:600px" method="post" th:object="${task}" class="border-class">
    <div class="form-group">
        <label th:for="name">Task: </label>
        <input class="form-control" th:field="*{name}"/>
    </div>
    <div class="form-group">
        <label th:for="description">Description: </label>
        <input class="form-control" th:field="*{description}"/>
    </div>
    <label th:for="frequency">Frequency: </label>
    <select th:field="*{frequency}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select> Days per week <br/><br/>


    <input type="submit" name="postTask" value="Add Task"/>
</form>
</div>
</body>
</html>