<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="fragments :: header"></div>

<table class="table">
    <tr th:each="message : ${messages}">
        <td th:text="${message.message}">Message</td>
    </tr>
</table>

<form style="max-width:600px" method="post">
    <div class="form-group">
    <input class="form-control" type="text" name="message"/>
    </div>
    <input type="submit" value="Post Message"/>
</form>

</body>
</html>