<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>

<table class="table">
    <tr th:each="message : ${messages}">
        <td th:text="${message.message}">Message</td>
        <td th:text="${message.author.name}">Author</td>
    </tr>
</table>
<div class="d-flex">
<form style="max-width:600px" method="post" class="border-class">
    <div class="form-group">
    <input class="form-control" type="text" name="message"/>
    </div>
    <input type="submit" name="postMessage" value="Post Message"/>
</form>
</div>

</body>
</html>