<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>
<div th:if="${passwordCheck}">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="d-flex">
            <form style="max-width:600px" method="post" class="border-class">
                <label th:for="password">Enter your current pasword: </label>
                <input type="password" name="password"/>
                <span th:text="${passwordError}" class="error"></span>
                <input type="submit" name="passwordCheck" value="Submit"/>
            </form>
        </div>
    </div>
</div>
<div th:if="${updatePassword}">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="d-flex">
            <form style="max-width:600px" method="post" class="border-class">
                <div class="form-group">
                    <label th:for="newPassword">New Password: </label>
                    <input type="password" name="newPassword"/>
                </div>
                <div class="form-group">
                    <label th:for="newPasswordConfirm">Confirm Password: </label>
                    <input type="password" name="newPasswordConfirm"/>
                </div>
                <input type="submit" name="updatePassword" value="Update"/>
                <span class="error" th:text="${passwordError}"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>