<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="d-flex">
    <form style="max-width:600px" method="post" class="border-class">
        <h2 class="loginHeader">Register to Home Manager</h2>
        <div class="form-group">
            <label th:for="username">Username: </label>
            <input type="text" class="form-control" name="username" th:value="${username}"/>
            <span th:text="${usernameError}" class="error"></span>
        </div>
        <div class="from-group">
            <label th:for="password">Password: </label>
            <input type="password" class="form-control" name="password" th:value="${password}"/>
            <span th:text="${passwordError}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="confirmPassword">Confirm Password: </label>
            <input type="password" class="form-control" name="confirmPassword" th:value="${confirmPassword}"/>
        </div>
        <div class="form-group">
            <label th:for="email">Email: </label>
            <input type="text" class="form-control" name="email" th:value="${email}"/>
            <span th:text="${emailError}" class="error"></span>
        </div>
        <a href="/user/login">Already have an account? Log in here!</a><br/>
        <input type="submit" value="Register!"/>
    </form>
</div>
</div>

</body>
</html>