<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<div th:replace="fragments :: header"></div>

<table class="table">
   <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Frequency</th>
   </tr>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}">Task Name</td>
        <td th:text="${task.description}">Task Description</td>
        <td th:text="${task.frequency} + ' times per week'">Task Frequency</td>
    </tr>

</table>

</body>
</html>