<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Refresh" content="0; /dashboard/"/>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <style>
        .border-class {
        border:thin black solid;
        margin:20px;
        padding:20px;
        border-radius:20px;
        justify-content: center;
        }
        .error {
        color: red;
        font-weight: bold;
        }
        body {
        font-family: sans-serif;
        }
        .loginHeader {
        text-align: center;
        }
    </style>
</head>
<body class="container">


</body>
</html>